 <section class="header">
     <div class="white_box">
         <div class="row">
             <div class="span4">
                 <div class="text">
                       <h1>Yoga Discovery Project</h1>
                       <h2></h2>
                       <br>
                       <p>Yoga is a lifelong and life-afirming practice, so please help bring Awareness of Yoga to the world  </p>
                       <p>Our goal is to catalog as many diverse yoga studios and classes around the world in order to make the human life a more fulfilling experience </p>
                     <hr/>
                     <form name="lead" action="/yoga_studio_leads.json" method="post">
                     <p>studio name<input type="text"/></p><br/>
                     <p>studio location<input type="text"/></p><br/>
                     <p>website<input type="text"/></p><br/>
                     <input type="submit"/>
                     </form><br/>
                     <hr/>
                     <p>Enter in new yoga studios in the form above to get them into our database.</p>

                 </div>
             </div>
             <div class="span8">
               <div id="myCarousel" class="carousel slide">
                     <div class="carousel-inner">
                       <div class="item active">
                         <img src="/img/king_pigeon.jpg" alt="">
                         <div class="carousel-caption">
                           <h4>Add Yoga Studios</h4>
                           <p>Our effort is driven in large part by user input and crowd-sourcing to catalog as many yoga studios as possible.</p>
                         </div>
                       </div>
                     </div>
<!--                 <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>-->
                  </div>
            </div>
        </div>
    </div>
</section>