<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.zenterp.yogadiscoveryproject"
        versionCode="10" 
        version   = "1.0.0">

    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>

    <!-- versionCode is optional and Android only -->

    <name>YogaNow</name>

    <description>
        An app that finds nearby yoga studios
    </description>

    <author href="http://www.yogadiscoveryproject.com" email="zeiler.steven@gmail.com">
        Zenterp 
    </author>

</widget>
