footer { 
  position: fixed;
  bottom:0px;
  right:0px;
  left:0px;
}

header { 
  position: absolute;
  top: 0px;
  right:0px;
  left:0px;
  padding:0px 20px;
}

.container { 
  margin-left:0px;
  margin-right:0px;
}