<% content_for :header_text do %>
  <a href='/studios/new' style='float:right;text-align:right;font-size:150%'>+</a>
  <span style='float:left;padding-left:0.5em;'>Yoga Discovery Project</span>
<% end %>

  <div style="position:relative;background:none;opacity:0.9;height:450px;padding:0px;" class="well">
  
      <table class="table">
        <tbody></tbody>
      </table>
</div>

<script type='text/template' id="studioRowTemplate">
  <tr class='studioRow'>
    <td class='studioName' style='padding:1.3em;'>
      <a href='/{{= id }}'>{{= name }}</a>
    </td>
    <td style='background-color:#f5f5f5;padding:1.3em;'>{{= distance }} miles</td>
  </tr>
</script>

<script>

  var studioRowTemplate = _.template($("#studioRowTemplate").html());
  function foundLocation(position) {
    getStudios(position, function (studios) {
      $('tbody').html('');
      $tbody = $("<div/>");
      for (i in studios) {
        studio = studios[i];
        obj = {
          name: studio.name.substring(0,22),
          id: studio.id,
          distance: Math.round(studio.distance * 100) / 100
        }
        $tbody.append(studioRowTemplate(obj));
      }
      $('tbody').html($tbody.html());
    })
  }

  function getStudios(position, callback) {
    url = '/api/studios?lat='+position.coords.latitude+'&lng='+position.coords.longitude;
    $.getJSON(url, function(data) {
      callback(data);
    })
  }

  function noLocation() {
    alert('Could not find location; please enable location settings for your browser');
  }

  navigator.geolocation.getCurrentPosition(foundLocation, noLocation);
  $(function(){
    $("tr").on('click', function(e){
      var url = document.location.href;
      document.location.href = url + "/" + $(e.target).parent().find('td:first').data('id');
    });

    function loadCity(city){
      var url = '/studios-near/' + city;
      $.get(url, function(html){
        var $dom = $(html);
        $("#cityCountHeader").html($dom.find("#cityCountHeader").html());
        $(".studiosList").html($dom.find(".studiosList").html());
      });
      document.history.pushState(url,null,url);
    }
  });
</script>